<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/rabbit
                           http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd"
       default-lazy-init="true">

    <rabbit:connection-factory id="connectionFactory"
                               addresses="${rabbit.addresses}"
                               username="${rabbit.username}"
                               password="${rabbit.password}"/>

    <!-- 监听相关 -->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener queue-names="${rabbit.demo.queue1}" ref="consumer1"/>
        <rabbit:listener queue-names="${rabbit.demo.queue2}" ref="consumer2"/>
    </rabbit:listener-container>

    <!-- 绑定exchange，topic模式 -->
    <rabbit:topic-exchange name="${rabbit.demo.exchange}">
        <rabbit:bindings>
            <rabbit:binding queue="${rabbit.demo.queue1}" pattern="${rabbit.demo.pattern1}" />
            <rabbit:binding queue="${rabbit.demo.queue2}" pattern="${rabbit.demo.pattern2}" />
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <rabbit:admin connection-factory="connectionFactory" />
    <rabbit:queue name="${rabbit.demo.queue1}" />
    <rabbit:queue name="${rabbit.demo.queue2}" />

    <bean id="consumer1" class="com.demo.event.Consumer1"/>
    <bean id="consumer2" class="com.demo.event.Consumer2" />

</beans>