<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.web.mapper.UserMapper">

	<select id="getUserById" resultType="com.demo.web.model.User">
		SELECT
		  t.id        AS id,
		  t.name      AS name,
		  t.create_at AS createAt
		FROM users t
		WHERE t.id = #{id}
	</select>
	
</mapper>